_build
input/
out/
data/
output/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/phosh-osk-data-packager/
debian/phosh-osk-data-packager.substvars
debian/phosh-osk-data-packager.debhelper.log
debian/tmp/
